.password {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    height: 100%;
}

.password>h2 {
    padding: 2rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

.password>.changePassword {
    min-height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem 0;
}

.password>.changePassword>form {
    display: flex;
    flex-direction: column;
    width: min(100%, 20rem);
}

.password>.changePassword>form input {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0.5rem;
    outline: none;
    margin-bottom: 1rem;
}

.password>.changePassword>form input:focus {
    border-color: skyblue;
}

.password>.changePassword>form button {
    width: 5rem;
    height: 2rem;
    position: relative;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    align-self: flex-end;
}