.adminTimelineAdd {
    background-color: rgba(0, 0, 0, 0.364);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100dvw;
    height: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminTimelineAdd>.timelineParent {
    min-height: fit-content;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.adminTimelineAdd>.timelineParent>form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    width: 300px;
    height: fit-content;
    border-radius: 5px;
}

.adminTimelineAdd>.timelineParent>form .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.adminTimelineAdd>.timelineParent>form button {
    position: relative;
    height: 2rem;
    background-color: black;
    border-radius: 5px;
    color: white;
    min-width: 5rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.adminTimelineAdd>.timelineParent>form>input:focus {
    border-color: skyblue;
}

.adminTimelineAdd>.timelineParent>form>input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}