.skillCreate {
    background-color: rgba(0, 0, 0, 0.497);
    height: 100dvh;
    width: 100dvw;
    min-height: 500px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 500;

}

.skillCreate>.scroller {
    display: grid;
    place-items: center;
    height: 100dvh;
    width: 100dvw;
    padding: 1rem;
    overflow-y: auto;
}

.skillCreate>.scroller>.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
    background-color: white;
    border-radius: 5px;
}

.skillCreate>.scroller>.container>.skillImagePreview {
    height: 70px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: grid;
    place-items: center;
}

.skillCreate .buttons {
    display: flex;
    justify-content: space-between;
}

.skillCreate>.scroller>.container button {
    position: relative;
    cursor: pointer;
    width: fit-content;
    background-color: black;
    outline: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    width: 6rem;
    height: 2rem;
    align-self: flex-end;
}

.skillCreate>.scroller>.container>* {
    width: 100%;
    position: relative;
}

.skillCreate>.scroller>.container input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
}

.skillCreate>.scroller>.container>.title>.list {
    z-index: 2;
    position: absolute;
    bottom: 0;
    transform: translate(0, 100%);
    height: fit-content;
    max-height: 10rem;
    background-color: white;
    padding: 0.5rem;
    border: 1px solid #ccc;
    overflow-y: auto;
    width: 100%;
}


.skillCreate>.scroller>.container>.title .list-item {
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.skillCreate>.scroller>.container>.title .list-item:last-child {
    border-color: transparent;
}

.skillCreate>.scroller>.container>.title .list-item:hover {
    background-color: #ccc;
}