.aboutSection {
    padding: 4rem 0;
    position: relative;

    text-wrap: pretty;
    font-size: 1.1rem;
    border-bottom: 1px solid gray;
}

.aboutSection>h1,
.aboutSection>p {
    text-align: center;
}

.aboutSection>p {
    color: rgb(198, 198, 198);
    font-weight: bold;
}

.aboutSection>.info {
    display: grid;
    grid-template-columns: auto;
    gap: 2rem;
}


.aboutSection>.info>.selfDetails::first-letter {
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    padding-left: 2rem;
}

.aboutSection>.info>.myImg {
    display: flex;
    justify-content: center;
}

.aboutSection>.info>.myImg>.shapeImage {
    margin-top: 3rem;
    width: min(300px, 80%);
    aspect-ratio: 1;
    border-radius: 30% 70% 70% 30% / 30% 29% 71% 70%;
    overflow: hidden;
    border: 5px solid rgb(255, 255, 255);
    animation: borderAnimation 6s infinite linear;
}

@keyframes borderAnimation {
    0% {
        border-radius: 50% 50% 60% 40% / 20% 80% 30% 70%;
    }

    25% {
        border-radius: 45% 55% 65% 35% / 75% 25% 70% 30%;
    }

    50% {
        border-radius: 60% 40% 50% 50% / 35% 65% 55% 45%;
    }

    75% {
        border-radius: 55% 45% 40% 60% / 50% 30% 70% 50%;
    }

    100% {
        border-radius: 50% 50% 60% 40% / 20% 80% 30% 70%;
    }
}


.aboutSection>.info>.myImg>.shapeImage>img {
    width: 100%;
}