.enterOtp {
    display: flex;
    gap: 0.25rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.enterOtp>div {
    display: flex;
    gap: 0.25rem;
    justify-content: center;
}

.enterOtp input {
    width: 2.5rem;
    display: flex;
    font-size: large;
    text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    /* For Firefox */
}