.navBar {
    transition: all 0.3s ease;
    transform: translate(-100%);
    border-right: 1px solid #ccc;
    background-color: white;
    z-index: 99;
}

.navBar a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: black;
    background-color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 0 0.5rem 0 0;
}

.navBar>.linkContainers {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 0.25rem;
    height: 100dvh;
    max-height: 100dvh;

    padding: 0.6rem;
    overflow-y: auto;
}

.navBar.navBar--open {
    transform: translate(0%);
}

.dragToOpen img.rotated {
    transform: rotate(180deg);
}

.navBar .dragToOpen img {
    transition: all 0.3s ease;
}

.navBar a {
    transition: all 0.3s ease;
}

.navBar a img,
.navBar button img,
.navBar .dragToOpen img {
    width: 2.5rem;
    aspect-ratio: 1;
    padding: 0.5rem;
    transition: all 0.3s ease;
    background-color: white;
    border: none;
    border-radius: 50%;
}

.navBar a img {
    border-radius: 0;
    background-color: transparent;
}

.navBar a:not(.navBar .activeNav):hover,
.navBar .logout:hover {
    background-color: rgba(194, 194, 194, 0.362);
    cursor: pointer;
}

.navBar .activeNav {
    filter: invert(100%);
}

.navBar .logout img {
    background-color: transparent;
}

.navBar .logout {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 10px;
    margin-top: auto;
    border: none;
    background-color: white;
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 1rem;
}

.navBar .dragToOpen {
    height: fit-content;
    background-color: white;
    padding: 0.5rem;
    border-bottom-right-radius: 50%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

@media screen and (min-width:860px) {
    .navBar {
        justify-content: flex-start;
        gap: 0.2rem;
        position: relative;
    }

    .navBar .dragToOpen {
        display: none;
    }

}

@media screen and (max-width:860px) {
    .navBar {
        position: fixed;
        transform: translate(-100%);
        top: 0;
    }

    .navBar .dragToOpen {
        display: block;
        position: absolute;
        right: 0;
        top: 0%;
        transform: translate(100%, 0%);
    }

    .blackScreen {
        width: 100dvw;
        height: 100dvh;
        position: fixed;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.446);
        scale: 0;
        z-index: 98;
    }
}