.manageSkill {
    border: 1px solid #ccc;
    background-color: white;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
}

.manageSkill>.adminSkills>.top {
    display: flex;
    margin: 2rem 0;
    justify-content: space-between;
    align-items: center;
}

.manageSkill>.adminSkills>.top>button {
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: black;
    height: 2rem;
    padding: 0 2rem;
    cursor: pointer;
}

.manageSkill>.adminSkills {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.manageSkill>.adminSkills>.childSkill {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width:700px) {
    .manageSkill>.adminSkills>.childSkill {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
}