.project {
    border-bottom: 1px solid gray;
    padding: 4rem 0;
}

.project>h1 {
    text-align: center;
    padding-bottom: 1rem;
}

.project>.projectContainer {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

@media only screen and (max-width:600px) {
    .project>.projectContainer {
        grid-template-columns: 1fr;
    }
}

.noProject {
    display: flex;
    justify-content: center;
    align-items: center;
}

.noProject>img {
    margin-left: 1rem;
    width: 30px;
}