.timelineCard {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.timelineCard>p {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.timelineCard label {
    margin-bottom: -0.5rem;
}

.timelineCard textarea {
    height: auto;
}

.timelineCard input,
.timelineCard textarea {
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
    resize: none;
}

.timelineCard .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.timelineCard .show .buttons {
    position: absolute;
    flex-direction: column;
    gap: 0.25rem;
    bottom: 0;
    right: 0;
    transform: translate(0%, 100%);
    justify-content: flex-end;
}

.timelineCard .buttons>button {
    position: relative;
    height: 2rem;
    width: 5rem;
    border-radius: 5px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.timelineCard .show {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.timelineCard .show .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.timelineCard .show .top .options:hover {
    cursor: pointer;
}

.timelineCard .show .top .options:active {
    background-color: #ccc;
}

.timelineCard .show .top .options {
    position: relative;
    transition: all 0.3s ease;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timelineCard .show .title {
    font-weight: bold;
    font-size: 1.2rem;
}

.timelineCard .show .duration {
    color: gray;
    margin-top: -0.5rem;
}