.skillCreate {
    background-color: white;
    height: 100%;
    min-height: fit-content;
    border: 1px solid #ccc;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 5px;
}

.skillCreate>.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
}

.skillCreate>.container h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.skillCreate>.container>.skillImagePreview {
    height: 70px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: grid;
    place-items: center;
}

.skillCreate>.container>button {
    cursor: pointer;
    width: fit-content;
    background-color: black;
    outline: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    width: 6rem;
    height: 2rem;
    align-self: flex-end;
}

.skillCreate>.container>* {
    width: 100%;
    position: relative;
}

.skillCreate>.container input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
}

.skillCreate>.container>.title>.list {
    z-index: 2;
    position: absolute;
    bottom: 0;
    transform: translate(0, 100%);
    height: fit-content;
    max-height: 10rem;
    background-color: white;
    padding: 0.5rem;
    border: 1px solid #ccc;
    overflow-y: auto;
    width: 100%;
}


.skillCreate>.container>.title .list-item {
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.skillCreate>.container>.title .list-item:last-child {
    border-color: transparent;
}

.skillCreate>.container>.title .list-item:hover {
    background-color: #ccc;
}