.dashBoard {
    display: flex;
    min-height: 100dvh;
}

.dashBoard>.right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    max-height: 100dvh;
    min-height: 100dvh;
    overflow-y: auto;
    width: 100%;
    transition: all 0.3s ease;
}